
# Created by https://www.gitignore.io/api/netbeans

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/Courses-ejb/nbproject/private/
/Courses-war/nbproject/private/
# End of https://www.gitignore.io/api/netbeans
